// E T H 2

// Text colors
$color-body-text: $black;

// Background colors
$color-body: $white;

// Placeholders
$placeholder-color-foreground: $black;
$placeholder-color-background: $white;

// Other colors
$color-accent: $lightblue;
$color-border: $blue;

// Helper colors for form error states
$color-disabled: $gray;
$color-disabled-border: $gray;
$color-error: $red;
$color-error-bg: $white;
$color-success: $lightblue;
$color-success-bg: $white;
