//-----------------------------
// Group
//-----------------------------

.styled__group {
  margin-bottom: 3.125rem;
}

.styled__hint {
  padding-right: 1rem;
  margin-bottom: .5rem;
  max-width: 10rem;
  line-height: 1.5;
}

.styled__hint {
  font-size: 1rem
}

.styled__value {
  font-size: 1.5rem
}
