//-----------------------------
// Tag
//-----------------------------

$border-width-thin: .1rem;
$border-radius: 15rem;
$horizontal-padding: .5rem;
$vertical-padding: .25rem;
$tag-font-size: .75rem;

$zero__x-color: rgb(48, 44, 44);
$aave-color: rgb(165, 55, 140);
$algorand-color: rgb(0, 0, 0);
$bancor__network: rgb(0, 11, 32);
$basic__attention-color: rgb(255, 80, 0);
$binance-color: rgb(240, 185, 11);
$bitcoin-color: rgb(247, 147, 26);
$bitcoin__cash-color: rgb(141, 195, 81);
$cardano-color: rgb(0, 51, 173);
$celo-color: rgb(251, 204, 92);
$chainlink-color: rgb(6, 103, 208);
$compound-color: rgb(0, 211, 149);
$dai-color: rgb(255, 183, 77);
$dash-color: rgb(0, 141, 228);
$decentraland-color: rgb(184, 175, 162);
$ethereum-color: rgb(142, 118, 255);
$ethereum__classic-color: rgb(89, 212, 175);
$filecoin-color: rgb(14, 121, 254);
$litecoin-color: rgb(166, 169, 170);
$loopring-color: rgb(26, 97, 255);
$maker-color: rgb(26, 171, 155);
$polygon-color: rgb(130, 71, 229);
$ren-color: rgb(0, 30, 61);
$stellar-color: rgb(0, 0, 0);
$synthetix-color: rgb(10, 1, 24);
$sushiswap-color: rgb(240, 85, 162);
$tezos-color: rgb(44, 125, 247);
$the__graph-color: rgb(82, 39, 232);
$uma-color: rgb(255, 74, 74);
$uniswap-color: rgb(255, 0, 122);
$usdcoin-color: rgb(39, 117, 202);
$wrapped__bitcoin-color: rgb(30, 24, 42);
$yearn__finance-color: rgb(6, 103, 208);
$zcash-color: rgb(236, 178, 68);

.tag {
  background-color: $whitesmoke;
  padding: $vertical-padding $horizontal-padding;
  border-width: $border-width-thin;
  border-style: solid;
  border-color: transparent;
  border-radius: $border-radius;
  font-size: $tag-font-size;
  font-weight: $font-weight-bold;
  line-height: normal;
  color: $white;
  white-space: nowrap;
  display: inline-flex;
  align-items: center;

  margin-bottom: .5rem;

  + .tag {
    margin-left: $horizontal-padding;
  }

  &:not(:first-child) {
    margin-left: 0;
  }

  &:hover {
    cursor: pointer;
  }
}

.tag__label {
  max-width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.tag-0x {
  background-color: $zero__x-color;
}

.tag-aave {
  background-color: $aave-color;
}

.tag-algorand {
  background-color: $algorand-color;
}

.tag-bancor__network {
  background-color: $bancor__network;
}

.tag-basic__attention {
  background-color: $basic__attention-color;
}

.tag-binance {
  background-color: $binance-color;
}

.tag-bitcoin {
  background-color: $bitcoin-color;
}

.tag-bitcoin__cash {
  background-color: $bitcoin__cash-color;
}

.tag-cardano {
  background-color: $cardano-color;
}

.tag-celo {
  background-color: $celo-color;
}

.tag-chainlink {
  background-color: $chainlink-color;
}

.tag-compound {
  background-color: $compound-color;
}

.tag-dai {
  background-color: $dai-color;
}

.tag-dash {
  background-color: $dash-color;
}

.tag-decentraland {
  background-color: $decentraland-color;
}

.tag-ethereum {
  background-color: $ethereum-color;
}

.tag-ethereum__classic {
  background-color: $ethereum__classic-color;
}

.tag-filecoin {
  background-color: $filecoin-color;
}

.tag-litecoin {
  background-color: $litecoin-color;
}

.tag-loopring{
  background-color: $loopring-color;
}

.tag-maker {
  background-color: $maker-color;
}

.tag-polygon {
  background-color: $polygon-color;
}

.tag-ren {
  background-color: $ren-color;
}

.tag-stellar {
  background-color: $stellar-color;
}

.tag-synthetix {
  background-color: $synthetix-color;
}

.tag-sushiswap {
  background-color: $sushiswap-color;
}

.tag-tezos {
  background-color: $tezos-color;
}

.tag-the__graph {
  background-color: $the__graph-color;
}

.tag-uma {
  background-color: $uma-color;
}

.tag-uniswap {
  background-color: $uniswap-color;
}

.tag-usdcoin {
  background-color: $usdcoin-color;
}

.tag-wrapped__bitcoin {
  background-color: $wrapped__bitcoin-color;
}

.tag-yearn__finance {
  background-color: $yearn__finance-color;
}

.tag-zcash {
  background-color: $yearn__finance-color;
}

