//-----------------------------
// Tag
//-----------------------------

$border-width-thin: .1rem;
$border-radius: 15rem;
$horizontal-padding: .5rem;
$vertical-padding: .25rem;
$tag-font-size: .75rem;

.tag {
  background-color: $whitesmoke;
  padding: $vertical-padding $horizontal-padding;
  border-width: $border-width-thin;
  border-style: solid;
  border-color: transparent;
  border-radius: $border-radius;
  font-size: $tag-font-size;
  font-weight: $font-weight-bold;
  line-height: normal;
  color: $white;
  white-space: nowrap;
  display: inline-flex;
  align-items: center;

  margin-bottom: .5rem;

  + .tag {
    margin-left: $horizontal-padding;
  }

  &:not(:first-child) {
    margin-left: 0;
  }

  &:hover {
    cursor: pointer;
  }
}

.tag__label {
  max-width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.tag-0x {
  background-color: $zero__x-color;
}

.tag-aave {
  background-color: $aave-color;
}

.tag-algorand {
  background-color: $algorand-color;
}

.tag-ankr {
  background-color: $ankr-color;
}

.tag-augur {
  background-color: $augur-color;
}

.tag-balancer {
  background-color: $balancer-color;
}

.tag-bancor__network {
  background-color: $bancor__network-color;
}

.tag-band__protocol {
  background-color: $band__protocol-color;
}

.tag-basic__attention {
  background-color: $basic__attention-color;
}

.tag-binance {
  background-color: $binance-color;
}

.tag-bitcoin {
  background-color: $bitcoin-color;
}

.tag-bitcoin__cash {
  background-color: $bitcoin__cash-color;
}

.tag-cardano {
  background-color: $cardano-color;
}

.tag-celo {
  background-color: $celo-color;
}

.tag-chainlink {
  background-color: $chainlink-color;
}

.tag-civic {
  background-color: $civic-color;
}

.tag-compound {
  background-color: $compound-color;
}

.tag-cosmos {
  background-color: $cosmos-color;
}

.tag-curve__dao {
  background-color: $curve__dao-color;
}

.tag-dai {
  background-color: $dai-color;
}

.tag-dash {
  background-color: $dash-color;
}

.tag-decentraland {
  background-color: $decentraland-color;
}

.tag-district0x {
  background-color: $district0x-color;
}

.tag-eos {
  background-color: $eos-color;
}

.tag-ethereum {
  background-color: $ethereum-color;
}

.tag-ethereum__classic {
  background-color: $ethereum__classic-color;
}

.tag-filecoin {
  background-color: $filecoin-color;
}

.tag-kyber__network {
  background-color: $kyber__network-color;
}

.tag-litecoin {
  background-color: $litecoin-color;
}

.tag-loopring {
  background-color: $loopring-color;
}

.tag-maker {
  background-color: $maker-color;
}

.tag-maker {
  background-color: $maker-color;
}

.tag-nucypher {
  background-color: $nucypher-color;
}

.tag-numeraire {
  background-color: $numeraire-color;
}

.tag-omg__network {
  background-color: $omg__network-color;
}

.tag-orchid {
  background-color: $orchid-color;
}

.tag-polygon {
  background-color: $polygon-color;
}

.tag-ren {
  background-color: $ren-color;
}

.tag-skale {
  background-color: $skale-color;
}

.tag-stellar {
  background-color: $stellar-color;
}

.tag-storj {
  background-color: $storj-color;
}

.tag-synthetix {
  background-color: $synthetix-color;
}

.tag-sushiswap {
  background-color: $sushiswap-color;
}

.tag-tezos {
  background-color: $tezos-color;
}

.tag-the__graph {
  background-color: $the__graph-color;
}

.tag-uma {
  background-color: $uma-color;
}

.tag-uniswap {
  background-color: $uniswap-color;
}

.tag-usdcoin {
  background-color: $usdcoin-color;
}

.tag-wrapped__bitcoin {
  background-color: $wrapped__bitcoin-color;
}

.tag-yearn__finance {
  background-color: $yearn__finance-color;
}

.tag-zcash {
  background-color: $zcash-color;
}
