// Predefined spacing dimensions

$one-unit: 0.25rem; // 4px
$two-units: 0.5rem; // 8px
$three-units: 0.75rem; // 12px
$four-units: 1rem; // 16px
$five-units: 1.25rem; // 20px
$six-units: 1.5rem; // 24
$eight-units: 2rem; // 32px
$nine-units: 2.25rem; // 36px
$ten-units: 2.5rem; // 40px