//-----------------------------
// Link
//-----------------------------

a {
  color: rgb(255, 115, 36);
  margin: 1.5rem 0 0;

  &:before {
    content: '';
  }

  &:after {
    margin: .3rem;
    display: inline;
    content: "↗";
    transition: $transition-duration $transition-timing;
  }
}
